@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display:ital,wght@0,500;1,400;1,500;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family:'Playfair Display', sans-serif;
}

.Bag_Logo_Atas {
    margin: 0 auto;
    width: 69%;

}

body{
    background: url(./asset/front-banner.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

.bag_Atas {
    background-color: rgb(165, 7, 7);
    width: 0; 
    height: 80px; 
    float: left;
    margin: 20px auto;
}

.bag_samping {
    background-color: rgb(11, 132, 136);
    width: 100%;
   }

nav {
    height: 120px;
}

.Atas_kiri {
    float: left;
    padding: 0 4px;
}

.kiri img {
    width: 90px;
    padding: 20px;
}
.Atas_kanan {
    float: left;
    margin: 20px auto;
}

.atas {
    display: flex;
    padding: 10px 0;
    margin-left: 20px;
}
.atas a {
    margin-left: 10px;
    font-weight: 200;
    font-size: 13px;
}

.atas img {
    width: 12px;
    margin-left: 20px;
    padding: 0 auto;
}

.atas .row2 {
    background-color:rgba(192, 192, 192, 0.37);
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 50px;
}

.atas .gambar1 {
    display: flex;
}
.atas .not img {
    width: 15px;
}

.bawah {
    display: flex;
    padding: 10px 0;
    margin-left: 20px;
}
.bawahkiri>ul, .bawahKanan>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bawahkiri>ul>li {
    float: left;
    margin: auto 20px;
    font-weight: 600;
    font-size: 13px;
}

.bawahKanan {
    margin-left: 70px;
}

.bawahKanan>ul>li {
    float: left;
    margin: auto 20px;
    font-weight: 600;
    font-size: 13px;
}

.conten {
    margin: 60px 20px 0 0;

}
.conten .tema p{
    padding: 0;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}

button {
    margin: 20px 0;
    padding: 10px 40px;
    border-radius: 3px;
}

.button1 {
    background-color: rgb(60,179,113);
    border: none;
    color: white;
    margin-right: 10px;
}

.button2 {
    background-color: rgba(255, 255, 255, 0);
    
}

.button2:hover {
    background-color: rgb(60,179,113);
    color: white;
}

.image {
    display: flex;
    margin: 20px 0;
}

.image .rowimage {
    margin-right: 20px; 
}

.bawahKanan ul {
    list-style-type: none;
}

li .dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

li .isi-dropdown a:hover {
    color: rgb(89, 233, 233) !important;
}
li .isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    z-index: 1;
}

li .isi-dropdown a {
    margin: 25px;
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}
   footer, footer a{
    text-align:center;
    margin:100px;
    font-size:17px;
    font-weight:bold;
}